/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*Переменные*/
:root {
    --gutter: 20px;
}


/*Глобальные стили*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;

}

h1,
h2 {
    color: #01996D;
}

h2 {
    font-size: 50px;
}

img {
    width: 95%;
    text-align: center;
    display: block;
    margin: auto;
}

button {
    height: 65px;
    border-radius: 4px;
    padding: 20px 30px;
    background-color: #01996D;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}


/*Топ меню начало*/
.top-menu {
    border-bottom: 1px solid #D6D6D6;
    font-size: 20px;
    font-weight:lighter;
    
}

.top-menu-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

img.top-logo{
    max-width: 80px;
    display: inline;
    margin: auto 0;
}
.ul-menu {
    list-style-type: none;
}

.ul-menu li {
    display: inline;
    margin-right: 75px;
}

.cta {
    display: flex;
}
.p-cta {
    margin-right: 35px;
}
.cta-button {
    padding: 0px 30px;
    max-height: 50px;
    margin: auto;

}
/*Топ меню конец*/


/*Хедер начало*/
.header {
    min-height: 895px;
    background-image: url(/learn_project_2/img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: Georgia, serif;
    margin-top: 0;
    padding-top: 175px;

}

.header p {
    padding-right: 60px;
    color: #484848;
    height: 123px;
    font-size: 20px;
    margin-bottom: 18px;
}

.header button {
    height: 65px;
    border-radius: 4px;
    padding: 20px 30px;
    background-color: #01996D;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
/*Хедер конец*/


/*Блок с карточками начало*/
.how-it-works p {
    font-size: 20px;
    color: #424242;
    padding-bottom: 70px;
    padding-top: 30px;
    margin: 0;
}



.top-text {
    display: flex;
}

.h2-top-text {
    margin:0 60px 0 0;
    max-width: 585px;

}

.p-top-text {
    padding: 0;
    max-width:671px;
}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.card {
    width: 390px;
    margin-right: 100px;
}

.card:nth-last-child(1) {
    margin-right: 0;
}

.cards-block .number {
    position: relative;
    color: rgba(1, 153, 109, 0.2);
    font-size: 150px;
}

.cards-block .number h4 {
    position: absolute;
    bottom: -12px;
    left: 90px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 28px;
    color:black;

}

.cards-block .number .h4-last {
    bottom: 10px;
    left: 120px;
}

.item2 {
    padding-top: 250px;
}

.item3 {
    padding-top: 50px;
}
/*Блок с карточками конец*/


/* Футер начало */
.footer {
    background-color: #245852;
    padding: 95px;
}

.footer .logo {
    margin-bottom: 60px;
    max-width: 120px;
    display: inline;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    margin-bottom: 60px;
}

.footer ul li:last-child {
    margin-bottom: 0;
}

.footer ul li a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.footer ul li a:hover {
    opacity: 0.8;
}
/* Футер конец */


/*До 992px*/
@media screen and (max-width:992px) {
    /*Хедер начало*/

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header p,
    .header h1,
    .header button {
        margin: 0 auto;
        display: block;
    }

    .header p {
        margin-bottom: 60px;
    }

    .header button {
        padding: 20px 20px;
    }
    /*Хедер конец*/

    .top-text h2 {
        margin: 0;
    }
    .cards-block {
        flex-wrap: wrap;
    }

    .cards-block .card {
        margin: 0;
    }

    .item2 {
        padding-top: 0;
    }
    .item3 {
        padding-top: 0;
    }

}


/*До 768px*/
@media screen and (max-width: 768px) {
    .header button {
        padding: 20px 10px;
    }

    .top-text {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

}




/*До 576px*/
@media screen and (max-width: 576px) {

}