/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*Переменные*/
:root {
    --gutter: 20px;
}


/*Глобальные стили*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;

}

h1,
h2 {
    color: #01996D;
}

h2 {
    font-size: 50px;
}

img {
    width: 95%;
    text-align: center;
    display: block;
    margin: auto;
}

button {
    height: 65px;
    border-radius: 4px;
    padding: 20px 30px;
    background-color: #01996D;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}


/*Топ меню начало*/
.top-menu {
    border-bottom: 1px solid #D6D6D6;
    font-size: 20px;
    font-weight: lighter;

}

.top-menu-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

img.top-logo {
    max-width: 80px;
    display: inline;
    margin: auto 0;
}

.ul-menu {
    list-style-type: none;
}

.ul-menu li {
    display: inline;
    margin-right: 75px;
}

.cta {
    display: flex;
}

.p-cta {
    margin-right: 35px;
}

.cta-button {
    padding: 0px 30px;
    max-height: 50px;
    margin: auto;

}

/*Топ меню конец*/


/*Хедер начало*/
.header {
    min-height: 895px;
    background-image: url(/learn_project_2/img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: Georgia, serif;
    margin-top: 0;
    padding-top: 175px;

}

.header p {
    padding-right: 60px;
    color: #484848;
    height: 123px;
    font-size: 20px;
    margin-bottom: 18px;
}

.header button {
    height: 65px;
    border-radius: 4px;
    padding: 20px 30px;
    background-color: #01996D;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

/*Хедер конец*/


/*Блок с карточками начало*/
.how-it-works p {
    font-size: 20px;
    color: #424242;
    padding-bottom: 70px;
    padding-top: 30px;
    margin: 0;
}



.top-text {
    display: flex;
}

.h2-top-text {
    margin: 0 60px 0 0;
    max-width: 585px;

}

.p-top-text {
    padding: 0;
    max-width: 671px;
}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.card {
    width: 390px;
    margin-right: 100px;
}

.card:nth-last-child(1) {
    margin-right: 0;
}

.cards-block .number {
    position: relative;
    color: rgba(1, 153, 109, 0.2);
    font-size: 150px;
}

.cards-block .number h4 {
    position: absolute;
    bottom: -12px;
    left: 90px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 28px;
    color: black;

}

.cards-block .number .h4-last {
    bottom: 10px;
    left: 120px;
}

.item2 {
    padding-top: 250px;
}

.item3 {
    padding-top: 50px;
}

/*Блок с карточками конец*/



/*Блок с видео контентом начало*/
.content-video {
    background-color: #245852;
}

.content-video-inner {
    display: flex;
    padding-top: 230px;
    padding-bottom: 177px;
}

.left-content {
    max-width: 365px;
}

.left-content h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}

.left-content p {
    color: white;
    margin-bottom: 50px;
    font-size: 20px;
}

.right-video {
    max-width: 875px;
}

/*Блок с видео контентом конец*/


/*Блок с картинкой и карточками начало*/
.content-img {
    padding-top: 120px;
    padding-bottom: 170px;

}
.content-img-inner {
    display: flex;
}
.left-img-card {
    margin-right: 80px;
}
.background {
    position: relative;
    width: 675px;
    height: 573px;
    background-color:rgba(1, 153, 109, 0.2);
    border-radius: 18px;
}
.big-img {
    position:absolute;
    bottom: 0px;
    right: 18%;
    width: 65%;
}
.card-face {
    position: absolute;
    background-color: white;
    width: 295px;
    height: 295px;
    left: -9%;
    bottom: -13%;
    filter: drop-shadow(0px 3px 18px rgba(165, 165, 165, 0.25));
    padding-left: 50px;
    padding-right: 50px;
}
.avatar-block {
    margin: 0 auto;
    text-align: center;
}
.avatar-block p {
    font-size: 15px;
}
.people-name {
    font-size: 12px;
}


.grey-line {
    width: 110px;
height: 0.75px;
background-color: black;
margin: 0 auto;
margin-bottom: 15px;
}

.circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color:rgba(1, 153, 109, 0.2);
    border-radius: 50%;
    z-index: 4;
}
.circle-img {
    background-color:rgba(1, 153, 109, 0.2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 3;
    bottom: 10%;
    right: 10%;
}

.people-name {
    font-size: 12px;
}

.h3-card {
    text-align: center;
    font-size: 16px;
    font-family: Georgia;
    font-weight: 700;
    margin-bottom: 16px;
}

.ul-mini-card {
    margin-bottom: 0;
}

.li-mini-card {
    font-size: 11px;
    margin-bottom: 16px;
}
.li-mini-card:nth-last-child(1) {
    margin-bottom: 0;
}

.right-content {
    max-width: 585px;
}

.right-content h2 {
    font-family: Georgia;
    font-weight: 700;
}

.right-content p {
    font-size: 20px;
    font-weight: 400;
    max-width: 530px;
}

p.p-right-content  {
    font-size: 25px;
    font-weight: 600;

}


/*Блок с картинкой и карточками конец*/




/* Футер начало */
.footer {
    background-color: #245852;
    padding: 95px;
}

.footer .logo {
    margin-bottom: 60px;
    max-width: 120px;
    display: inline;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    margin-bottom: 60px;
}

.footer ul li:last-child {
    margin-bottom: 0;
}

.footer ul li a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.footer ul li a:hover {
    opacity: 0.8;
}

/* Футер конец */


/*До 992px*/
@media screen and (max-width:992px) {


    /*Топ меню начало*/
    .ul-menu li {
        display: inline;
        margin-right: 15px;
    }

    .cta {
        display: flex;
    }

    .p-cta {
        margin-right: 15px;
    }

    .cta-button {
        padding: 0px 30px;
        max-height: 50px;
        margin: auto;
    }

    /*Топ меню конец*/


    /*Хедер начало*/

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header p,
    .header h1,
    .header button {
        margin: 0 auto;
        display: block;
    }

    .header p {
        margin-bottom: 60px;
    }

    .header button {
        padding: 20px 20px;
    }

    /*Хедер конец*/

    .top-text h2 {
        margin: 0;
    }

    .cards-block {
        flex-wrap: wrap;
    }

    .cards-block .card {
        margin: 0;
    }

    .item2 {
        padding-top: 0;
    }

    .item3 {
        padding-top: 0;
    }

    /*Блок с видео контентом начало*/
    .content-video-inner {
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .left-content {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
    }
    .left-content h2 {
        margin-bottom: 10px;
    }
    .left-content p {
        display: inline;
        margin-right: 20px;
    }

    .right-video {
        max-width: 100%;
    }
    /*Блок с видео контентом конец*/

}


/*До 768px*/
@media screen and (max-width: 768px) {


    /*Топ меню начало*/
    .top-menu-inner {
        flex-direction: column;
        align-items: baseline;
    }

    .ul-menu {
        padding: 0;
    }

    .ul-menu li {
        display: block;
        margin-right: 75px;
    }

    .cta {
        display: block;
    }

    .p-cta {
        margin: 5px;
    }

    .cta-button {
        padding: 0px 30px;
        max-height: 50px;
        margin: auto;

    }

    /*Топ меню конец*/


    .header button {
        padding: 20px 10px;
    }

    .top-text {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

}




/*До 576px*/
@media screen and (max-width: 576px) {
        /*Блок с видео контентом начало*/   

        .left-content p {
            display: block;
        }
    
        .right-video {
            max-width: 100%;
        }
        /*Блок с видео контентом конец*/
}